<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.stylefeng.guns.modular.web.mapper.TimeTableMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.stylefeng.guns.modular.web.entity.TimeTable">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="course_id" property="courseId"/>
        <result column="table_name" property="tableName"/>
        <result column="table_summary" property="tableSummary"/>
        <result column="table_images" property="tableImages"/>
        <result column="table_desc" property="tableDesc"/>
        <result column="status" property="status"/>
        <result column="site" property="site"/>
        <result column="create_time" property="createTime"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, course_id AS courseId,table_name AS tableName,table_summary AS tableSummary,create_time AS createTime
    </sql>

    <!-- 小程序端查询结果列 -->
    <sql id="Base_Column_List2">
        id, course_id AS courseId,table_images as  tableImages,table_name AS tableName,table_summary AS tableSummary,create_time AS createTime
    </sql>

    <select id="queryList"  resultType="map">
        select
        <include refid="Base_Column_List"/>
        from db_timetable where 1 = 1 and status=1
        <if test="courseId != null ">
            and course_id = #{courseId}
        </if>
        order by create_time desc
    </select>

    <select id="queryAppListByCourseId"  resultType="map">
        select
        <include refid="Base_Column_List2"/>
        from db_timetable where 1 = 1 and status=1
        <if test="courseId != null ">
            and course_id = #{courseId}
        </if>
        order by create_time desc
    </select>

</mapper>
